body{
    background-color: #E9EFC0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23B4E197'/%3E%3Cstop offset='1' stop-color='%23E9EFC0'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%2383BD75' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2383BD75' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.33'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 380px;
    margin: 30px 0 30px 0;
}

.hero{

  background-image:url("img/codex3.png");
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45%;
}
p{
color: #694E4E; 
}

.container{
    width: 900px;
    margin: auto;
    text-align: center;
    font-family: 'Akshar', sans-serif;
}

nav{
margin: 0;
}

table{
border:1px solid coral;
width: 100%;
margin-top: 60px;
}
.head-table{
    font-weight: bold;
    font-size: 17px;
}

 th, td {
    border:1px solid coral;
  }

 
  td {
 background-color: #d3eec2;
  }

  td:hover{
      background-color:#b5cbeb;
      font-weight: bold;
      
  }

  caption{
   font-size: 30px;
   text-decoration: underline;
   padding-bottom: 10px;
   color :coral;
   font-weight: bold;
   margin-bottom: 20px;
  }

nav li {
    display: inline;
    margin: 8px;
    
    
   
}
.text-list{
    color: #694E4E;
}
a{
    text-decoration: none;
    color: coral;
    font-size: 23px;
    transition-property: font-size;
    transition-duration: 0.8s;
    transition: font-size 0.5s, font-weight 0.5s;
}

a:hover {
    color: #5599FF;
   font-size: 30px;
   font-weight: bolder;

  }


.list-menu{
    list-style: none;  
}
span{
 width: 25px;
}
span img{
    width: 60px;
    margin-bottom: 15px;
}
h1{
    color: coral;
    font-size: 100px;
}
h2{
    color: coral; 
    
    margin-bottom: 30px;
}
p{
    font-size: 20px;
}
.new_img{
    width: 500px;
    box-shadow: 50px;
    border: 2px solid coral;
}
.list-menu{
    text-align: center;
}
.list{
    display: inline-block;
    text-align: center;
}

li{
    font-size: 17px;
    text-align: left;
}
hr {
    height: 4px;
    width: 40px;
    padding: 0;
    color: coral;
    background-color: coral;
    border: 0;
   
    
  }

  ul ,li , p {

      text-align: justify;
  }

 
  .prof{
      background-color: #069A8E;
  }

  footer{
      text-align: center;
      background-color: #B4E197;
      height: 50px;
      display: flex;
      justify-content: center;
      padding: 8px;
  }
  footer p{
      font-weight: bold;
      font-size: 15px;
  }

  .foimg{
      width: 25px;
      margin-left: 3px;
      margin-right: 3px ;
  }
  .text-footer{
   color: #069A8E ;
  }